h1 {
color: Black;
text-align: Left;
font-family: Arial;
margin-bottom: 2px
}
h2 {
color: Black;
text-align: Left;
font-family: Arial;
margin-bottom: 2px
}
h3 {
color: Black;
text-align: Left;
font-family: Arial;
margin-bottom: 2px
}
p {
font-family: Arial;
margin-bottom: 0px;
margin-top: 12px
}
li {
font-family: Arial;
margin-bottom: 0px;
margin-top: 3px
}
td {
font-family: Arial;
margin-bottom: 0px;
margin-top: 3px
}
